{% extends 'base.html.twig' %}

{% block header %}
    {% include 'OwnerUserBundle:shared:header.html.twig' %}
{% endblock %}

{% block body %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">New Location</h3>
        </div>
    </div>
    <ul>
        <li>
            <a href="{{ path('owner_location_index') }}">Back to the list</a>
        </li>
    </ul>
    {% include 'OwnerUserBundle:shared:flash_message.html.twig' %}

    <div class="col-md-12">
        <div class="col-md-6">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="button" id="submitForm" class="btn btn-primary" value="Submit" />
                </div>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="col-md-6">
            {{ google_map_container(map) }}
        </div>
    </div>


{% endblock %}

{% block footer %}
    <script src="{{ asset('/bundles/owneruser/scripts/map.js') }}"></script>
    {% include 'OwnerUserBundle:shared:footer.html.twig' %}
{% endblock %}