{% extends 'base.html.twig' %}

{% block body %}
    <h1>Invoice list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Referencenumber</th>
                <th>Invoicedate</th>
                <th>Statusid</th>
                <th>Totalamount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for invoice in invoices %}
            <tr>
                <td><a href="{{ path('system_invoice_show', { 'id': invoice.id }) }}">{{ invoice.id }}</a></td>
                <td>{{ invoice.referenceNumber }}</td>
                <td>{% if invoice.invoiceDate %}{{ invoice.invoiceDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ invoice.statusId }}</td>
                <td>{{ invoice.totalAmount }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('system_invoice_show', { 'id': invoice.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('system_invoice_edit', { 'id': invoice.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('system_invoice_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
