{% extends 'base.html.twig' %}

{% block header %}
    <nav class="navbar navbar-inverse header-nav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">redeem<span style="color: #06F906;">ar</span></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {{ knp_menu_render('main') }}
        </div>
    </nav>
{% endblock %}


{% block body %}
    <div class="container">
        <div class="col-md-12">
            <h3 class="text-left well well-sm">Welcome {{ app.user.name }}!</h3>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">
                <h4 class="text-left">At a Glance</h4>
                <div class="well">
                    <div class="row">
                        <div class="col-md-4">
                            <h5><strong>Offers used</strong></h5>
                            <p>2</p>
                        </div>
                        <div class="col-md-4">
                            <h5><strong>Ammount payed</strong></h5>
                            <p>$45</p>
                        </div>
                        <div class="col-md-4">
                            <h5><strong>Redeemar points</strong></h5>
                            <p>300</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <h4 class="text-left">Last Offers</h4>
                <div class="well">
                    {% if offers == true %}
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Offer</th>
                                <th>Amount Payed</th>
                                <th>Points Obtained</th>
                                <th>Validation Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for offer in offers %}
                            <tr>
                                <td>Offer {{ loop.index }}</td>
                                <td>{{ offer.redeemarPrice }}</td>
                                <td>{{ offer.redeemarsUsed }}</td>
                                <td>{{ offer.startDate|date('Y-m-d') }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p class="text-center">You don´t have any validated Offers yet</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h4 class="text-left">Your Profile Info</h4>
            <div class="col-md-12 well">
                <div class="col-md-6">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputName2">Name</label>
                            <input type="text" class="form-control" value="{{ app.user.name }}" id="exampleInputName2" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" value="{{ app.user.email }}" id="exampleInputEmail1" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName2">Address</label>
                            <input type="text" class="form-control" id="exampleInputName2" placeholder="Address">
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Current Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">New Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Retype Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <img src="http://cdn01.ib.infobae.com/adjuntos/162/imagenes/013/198/0013198514.jpg" class="img-thumbnail">
                    <a href="">Upload photo</a>
                </div>
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary pull-right">Save</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}